<a href="https://colab.research.google.com/github/HHun1/big/blob/main_2/2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install speedtest-cli

Collecting speedtest-cli
  Downloading https://files.pythonhosted.org/packages/9f/39/65259b7054368b370d3183762484fa2c779ddc41633894d895f9d1720f45/speedtest_cli-2.1.3-py2.py3-none-any.whl
Installing collected packages: speedtest-cli
Successfully installed speedtest-cli-2.1.3

In [2]:
import datetime
import csv
import subprocess

In [3]:
date_time = datetime.datetime.now()
print(date_time, type(date_time))

2021-04-10 17:50:46.406642 <class 'datetime.datetime'>

In [4]:
date_time.strftime('%a, %d %b %Y %H:%M:%S')

'Sat, 10 Apr 2021 17:50:46'

In [5]:
date_time.strftime('%Y-%m-%d %H:%M:%S')

'2021-04-10 17:50:46'

In [6]:
speedtest_cmd = "speedtest-cli --simple"
process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
process_output = process.communicate()[0]

In [7]:
print(process_output, type(process_output))

b'Ping: 28.959 ms\nDownload: 576.71 Mbit/s\nUpload: 465.30 Mbit/s\n' <class 'bytes'>

In [8]:
date_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
process_output = process_output.split()
process_output.append(date_time)
print(process_output, type(process_output))

[b'Ping:', b'28.959', b'ms', b'Download:', b'576.71', b'Mbit/s', b'Upload:', b'465.30', b'Mbit/s', '2021-04-10 17:50:56'] <class 'list'>

In [9]:
def speedtest():
    date_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    speedtest_cmd = "speedtest-cli --simple"
    process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
    process_output = process.communicate()[0]
    process_output = process_output.split()
    process_output.append(date_time)
    return process_output

In [10]:
speedtest()

[b'Ping:',
 b'20.315',
 b'ms',
 b'Download:',
 b'600.10',
 b'Mbit/s',
 b'Upload:',
 b'470.82',
 b'Mbit/s',
 '2021-04-10 17:50:56']

In [11]:
results = speedtest()
print(results, type(results))

[b'Ping:', b'21.193', b'ms', b'Download:', b'616.94', b'Mbit/s', b'Upload:', b'484.82', b'Mbit/s', '2021-04-10 17:51:06'] <class 'list'>

In [12]:
with open("/tmp/test.txt", "w") as f:
    f.write('test_msg')

In [13]:
!cat /tmp/test.txt

test_msg

In [14]:
with open("/tmp/test.txt", "r") as f:
    str = f.read()
print(str)

test_msg

In [15]:
def save_to_csv(data, filename):
    try:
        with open(filename + '.csv', 'a') as f:
            wr = csv.writer(f)
            wr.writerow(data)
    except:
        with open(filename + '.csv', 'w') as f:
            wr = csv.writer(f)
            wr.writerow(data)

In [16]:
def print_from_csv(filename):
    with open(filename + '.csv', 'r') as f:
        re = csv.reader(f)
        for row in re:
            print(row)

In [17]:
import datetime
import csv
import pandas as pd

In [18]:
!head -n 5 rpi_data_long.csv

Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,2016-11-24 13:36:25
Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,2016-11-24 13:36:55
Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,2016-11-24 13:37:25
Ping:,19.332,ms,Download:,91.81,Mbit/s,Upload:,14.22,Mbit/s,2016-11-24 13:37:57
Ping:,22.494,ms,Download:,92.05,Mbit/s,Upload:,14.08,Mbit/s,2016-11-24 13:38:27

In [19]:
data_file = 'rpi_data_long.csv'

In [20]:
column_names = ['Type A', 'Measure A', 'Unit A',
                'Type B', 'Measure B', 'Unit B',
                'Type C', 'Measure C', 'Unit C',
                'Datetime']

In [21]:
with open(data_file, 'r') as f:
    df_redundant = pd.read_csv(f, names = column_names)

In [22]:
df_redundant.head()

  Type A Measure A Unit A  ... Measure C  Unit C             Datetime
0  Ping:    26.992     ms  ...     14.31  Mbit/s  2016-11-24 13:36:25
1  Ping:    24.532     ms  ...     14.12  Mbit/s  2016-11-24 13:36:55
2  Ping:    20.225     ms  ...     14.11  Mbit/s  2016-11-24 13:37:25
3  Ping:    19.332     ms  ...     14.22  Mbit/s  2016-11-24 13:37:57
4  Ping:    22.494     ms  ...     14.08  Mbit/s  2016-11-24 13:38:27

[5 rows x 10 columns]

In [23]:
df_compact = df_redundant.copy()

In [24]:
df_compact.rename(columns={'Measure A': 'Ping (ms)',
                           'Measure B': 'Download (Mbit/s)',
                           'Measure C': 'Upload (Mbit/s)'}, inplace=True)
df_compact.head(3)

  Type A Ping (ms) Unit A  ... Upload (Mbit/s)  Unit C             Datetime
0  Ping:    26.992     ms  ...           14.31  Mbit/s  2016-11-24 13:36:25
1  Ping:    24.532     ms  ...           14.12  Mbit/s  2016-11-24 13:36:55
2  Ping:    20.225     ms  ...           14.11  Mbit/s  2016-11-24 13:37:25

[3 rows x 10 columns]

In [25]:
df_compact.drop(['Type A', 'Type B', 'Type C',
                 'Unit A', 'Unit B', 'Unit C'], axis=1, inplace=True)
df_compact.head()

  Ping (ms) Download (Mbit/s)  Upload (Mbit/s)             Datetime
0    26.992             91.80            14.31  2016-11-24 13:36:25
1    24.532             88.19            14.12  2016-11-24 13:36:55
2    20.225             59.86            14.11  2016-11-24 13:37:25
3    19.332             91.81            14.22  2016-11-24 13:37:57
4    22.494             92.05            14.08  2016-11-24 13:38:27

In [26]:
df_compact['Date'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).date())

In [27]:
temp = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str))
df_compact['Time'] = temp.dt.time

In [28]:
df_compact.drop('Datetime', axis=1, inplace=True)
df_compact.head()

  Ping (ms) Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0    26.992             91.80            14.31  2016-11-24  13:36:25
1    24.532             88.19            14.12  2016-11-24  13:36:55
2    20.225             59.86            14.11  2016-11-24  13:37:25
3    19.332             91.81            14.22  2016-11-24  13:37:57
4    22.494             92.05            14.08  2016-11-24  13:38:27

In [29]:
print(df_compact['Date'][0], type(df_compact['Date'][0]))
print(df_compact['Time'][0], type(df_compact['Time'][0]))

2016-11-24 <class 'datetime.date'>
13:36:25 <class 'datetime.time'>

In [30]:
df_compact.to_csv('rpi_data_compact.csv')